# fly.toml app configuration file generated for heist-game on 2026-02-17T17:19:21-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'heist-game'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
